In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('xyzcust10.csv')

In [6]:
df.head()

,ACCTNO,ZIP,ZIP4,LTD_SALES,LTD_TRANSACTIONS,YTD_SALES_2009,YTD_TRANSACTIONS_2009,CHANNEL_ACQUISITION,BUYER_STATUS,ZIP9_Supercode,ZIP9_SUPERCODE
0,WDQQLLDQL,60084,5016,90.0,1,0.0,0,IB,INACTIVE,600845016,600845016
1,WQWAYHYLA,60091,1750,4227.0,9,1263.0,3,RT,ACTIVE,600911750,600911750
2,GSHAPLHAW,60067,900,420.0,3,129.0,1,RT,ACTIVE,600670900,600670900
3,PGGYDYWAD,60068,3838,6552.0,6,0.0,0,RT,INACTIVE,600683838,600683838
4,LWPSGPLLS,60090,3932,189.0,3,72.0,1,RT,ACTIVE,600903932,600903932

In [11]:
df.groupby(['ZIP', 'BUYER_STATUS'])['LTD_SALES'].mean()

ZIP    BUYER_STATUS
0      LAPSED           111.000000
60056  ACTIVE          1350.579208
       INACTIVE         484.200000
       LAPSED           757.402089
60060  ACTIVE          1569.676732
                          ...
60097  LAPSED           873.257143
60098  ACTIVE          1873.841463
       INACTIVE         566.062500
       LAPSED           948.645570
60192  LAPSED          2274.000000
Name: LTD_SALES, Length: 102, dtype: float64