In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
INFILE = '/Users/zachtsouprakos/documents/msds/msds-422/module_1/Insurance.csv'

TARGET_F = 'TARGET_CLM_FLAG'
TARGET_A = 'TARGET_CLM_AMT'

In [3]:
df = pd.read_csv(INFILE)
dt = df.dtypes

In [4]:
objList = []
numList = []

for i in dt.index:
    if i in ([TARGET_F, TARGET_A]) : continue
    if dt[i] in (['object']) : objList.append(i)
    if dt[i] in (['float64','int64']) : numList.append(i)

In [5]:
# Code from last week
"""
FILL IN MISSING WITH THE CATEGORY "MISSING"
"""
for i in objList :
    if df[i].isna().sum() == 0 : continue
    NAME = "IMP_"+i
    df[NAME] = df[i]
    df[NAME] = df[NAME].fillna("MISSING")
    g = df.groupby( NAME )
    df = df.drop( i, axis=1 )


dt = df.dtypes
objList = []
for i in dt.index :
    #print(" here is i .....", i , " ..... and here is the type", dt[i] )
    if i in ( [ TARGET_F, TARGET_A ] ) : continue
    if dt[i] in (["object"]) : objList.append( i )



'''
EXPLORE THE CATEGORICAL / OBJECT VARIABLES
'''

df["y_EDU_4"] = (df.EDUCATION.isin( ["a_PhD"] ) + 0 )
df["y_EDU_3"] = (df.EDUCATION.isin( ["a_PhD","b_Masters"] ) + 0)
df["y_EDU_2"] = (df.EDUCATION.isin( ["a_PhD","b_Masters","c_Bachelors"] ) + 0)
df["y_EDU_1"] = (df.EDUCATION.isin( ["a_PhD","b_Masters","c_Bachelors","d_High School"] ) + 0)
df = df.drop( "EDUCATION", axis=1 )
   

dt = df.dtypes
objList = []
for i in dt.index :
    #print(" here is i .....", i , " ..... and here is the type", dt[i] )
    if i in ( [ TARGET_F, TARGET_A ] ) : continue
    if dt[i] in (["object"]) : objList.append( i )


for i in objList :
    thePrefix = "z_" + i
    y = pd.get_dummies( df[i], prefix=thePrefix, drop_first=True )   
    #y = pd.get_dummies( df[i], prefix=thePrefix )   
    df = pd.concat( [df, y], axis=1 )
    #df = df.drop( i, axis=1 )

In [6]:
for i in numList :
    if df[i].isna().sum() == 0 : continue
    FLAG = 'M_' + i
    IMP = 'IMP_' + i
#     print(df[i].isna().sum())
#     print(FLAG)''
#     print(IMP)
    df[FLAG] = df[i].isna() + 0 # create fields that indicate whether the value was missing
    df[IMP] = df[ i ]
    df.loc[df[IMP].isna(), IMP] = df[i].median() # replace null values with median for of the column
    # df = df.drop(i, axis=1)
#    print('--------')
    
# someData = df.head().T
# for r in range(someData.shape[0]):
#     print(someData.iloc[r,])
#     print('-----\n\n')

In [7]:
i = "INCOME"
FLAG = "M_" + i
IMP = "IMP_" + i
#print( i )
#print( FLAG )
#print( IMP )
df[ FLAG ] = df[i].isna() + 0
df[ IMP ] = df[ i ]
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Blue Collar"]), IMP ] = 53694
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Student"]), IMP ] = 360
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Clerical"]), IMP ] = 30799
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Doctor"]), IMP ] = 121398
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Home Maker"]), IMP ] = 776
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Lawyer"]), IMP ] = 83230
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["MISSING"]), IMP ] = 109953
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Manager"]), IMP ] = 78589
df.loc[ df[IMP].isna() & df["IMP_JOB"].isin(["Professional"]), IMP ] = 71230
df.loc[ df[IMP].isna(), IMP ] = df[i].median()
df = df.drop( i, axis=1 )
numList.remove(i)

"""
FILL IN MISSING WITH THE CATEGORY "MISSING"
"""
for i in objList :
    if df[i].isna().sum() == 0 : continue
    NAME = "IMP_"+i
    df[NAME] = df[i]
    df[NAME] = df[NAME].fillna("MISSING")
    g = df.groupby( NAME )
    df = df.drop( i, axis=1 )

In [8]:
objList

['PARENT1',
 'MSTATUS',
 'SEX',
 'CAR_USE',
 'CAR_TYPE',
 'RED_CAR',
 'REVOKED',
 'URBANICITY',
 'IMP_JOB']

In [9]:
numList

['KIDSDRIV',
 'AGE',
 'HOMEKIDS',
 'YOJ',
 'HOME_VAL',
 'TRAVTIME',
 'BLUEBOOK',
 'TIF',
 'NPOLICY',
 'OLDCLAIM',
 'CLM_FREQ',
 'MVR_PTS',
 'CAR_AGE']

In [10]:
df.head().T

,0,1,2,3,4
TARGET_CLM_FLAG,0,1,1,0,1
TARGET_CLM_AMT,NaN,6872,6716,NaN,5970
KIDSDRIV,0,0,3,0,0
AGE,51,37,36,52,33
HOMEKIDS,0,0,4,0,4
YOJ,12,10,0,12,14
PARENT1,No,No,No,No,Yes
HOME_VAL,249276,245993,0,274122,0
MSTATUS,Yes,Yes,Yes,Yes,No
SEX,F,M,F,M,M
TRAVTIME,25,23,54,44,33
CAR_USE,Private,Private,Private,Commercial,Private
BLUEBOOK,25860,16400,1500,10950,7850
TIF,4,4,4,4,6
NPOLICY,2,2,2,1,2
CAR_TYPE,Sports Car,Van,SUV,Pickup,Pickup
RED_CAR,no,no,no,yes,no
OLDCLAIM,0,0,0,0,0
CLM_FREQ,0,0,0,0,0
REVOKED,Yes,No,No,No,No
MVR_PTS,1,1,5,2,0
CAR_AGE,8,1,10,11,NaN
URBANICITY,Highly Urban/ Urban,Highly Urban/ Urban,Highly Urban/ Urban,Highly Rural/ Rural,Highly Urban/ Urban
IMP_JOB,Manager,Clerical,Student,Blue Collar,Clerical
y_EDU_4,0,0,0,0,0
y_EDU_3,0,0,0,0,0
y_EDU_2,1,0,0,0,0
y_EDU_1,1,1,1,1,0
z_PARENT1_Yes,0,0,0,0,1
z_MSTATUS_Yes,1,1,1,1,0
z_SEX_M,0,1,0,1,1
z_CAR_USE_Private,1,1,1,0,1
z_CAR_TYPE_Panel Truck,0,0,0,0,0
z_CAR_TYPE_Pickup,0,0,0,1,1
z_CAR_TYPE_SUV,0,0,1,0,0
z_CAR_TYPE_Sports Car,1,0,0,0,0
z_CAR_TYPE_Van,0,1,0,0,0
z_RED_CAR_yes,0,0,0,1,0
z_REVOKED_Yes,1,0,0,0,0
z_URBANICITY_Highly Urban/ Urban,1,1,1,0,1
z_IMP_JOB_Clerical,0,1,0,0,1
z_IMP_JOB_Doctor,0,0,0,0,0
z_IMP_JOB_Home Maker,0,0,0,0,0
z_IMP_JOB_Lawyer,0,0,0,0,0
z_IMP_JOB_MISSING,0,0,0,0,0
z_IMP_JOB_Manager,1,0,0,0,0
z_IMP_JOB_Professional,0,0,0,0,0
z_IMP_JOB_Student,0,0,1,0,0
M_AGE,0,0,0,0,0
IMP_AGE,51,37,36,52,33
M_YOJ,0,0,0,0,0
IMP_YOJ,12,10,0,12,14
M_INCOME,0,0,1,0,0
IMP_INCOME,85076,55076,360,68564,30504
M_HOME_VAL,0,0,0,0,0
IMP_HOME_VAL,249276,245993,0,274122,0
M_CAR_AGE,0,0,0,0,1
IMP_CAR_AGE,8,1,10,11,8

In [11]:
for i in objList:
    df = df.drop(i, axis = 1)

In [12]:
df.head().T

,0,1,2,3,4
TARGET_CLM_FLAG,0.0,1.0,1.0,0.0,1.0
TARGET_CLM_AMT,NaN,6872.0,6716.0,NaN,5970.0
KIDSDRIV,0.0,0.0,3.0,0.0,0.0
AGE,51.0,37.0,36.0,52.0,33.0
HOMEKIDS,0.0,0.0,4.0,0.0,4.0
YOJ,12.0,10.0,0.0,12.0,14.0
HOME_VAL,249276.0,245993.0,0.0,274122.0,0.0
TRAVTIME,25.0,23.0,54.0,44.0,33.0
BLUEBOOK,25860.0,16400.0,1500.0,10950.0,7850.0
TIF,4.0,4.0,4.0,4.0,6.0
NPOLICY,2.0,2.0,2.0,1.0,2.0
OLDCLAIM,0.0,0.0,0.0,0.0,0.0
CLM_FREQ,0.0,0.0,0.0,0.0,0.0
MVR_PTS,1.0,1.0,5.0,2.0,0.0
CAR_AGE,8.0,1.0,10.0,11.0,NaN
y_EDU_4,0.0,0.0,0.0,0.0,0.0
y_EDU_3,0.0,0.0,0.0,0.0,0.0
y_EDU_2,1.0,0.0,0.0,0.0,0.0
y_EDU_1,1.0,1.0,1.0,1.0,0.0
z_PARENT1_Yes,0.0,0.0,0.0,0.0,1.0
z_MSTATUS_Yes,1.0,1.0,1.0,1.0,0.0
z_SEX_M,0.0,1.0,0.0,1.0,1.0
z_CAR_USE_Private,1.0,1.0,1.0,0.0,1.0
z_CAR_TYPE_Panel Truck,0.0,0.0,0.0,0.0,0.0
z_CAR_TYPE_Pickup,0.0,0.0,0.0,1.0,1.0
z_CAR_TYPE_SUV,0.0,0.0,1.0,0.0,0.0
z_CAR_TYPE_Sports Car,1.0,0.0,0.0,0.0,0.0
z_CAR_TYPE_Van,0.0,1.0,0.0,0.0,0.0
z_RED_CAR_yes,0.0,0.0,0.0,1.0,0.0
z_REVOKED_Yes,1.0,0.0,0.0,0.0,0.0
z_URBANICITY_Highly Urban/ Urban,1.0,1.0,1.0,0.0,1.0
z_IMP_JOB_Clerical,0.0,1.0,0.0,0.0,1.0
z_IMP_JOB_Doctor,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Home Maker,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Lawyer,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_MISSING,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Manager,1.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Professional,0.0,0.0,0.0,0.0,0.0
z_IMP_JOB_Student,0.0,0.0,1.0,0.0,0.0
M_AGE,0.0,0.0,0.0,0.0,0.0
IMP_AGE,51.0,37.0,36.0,52.0,33.0
M_YOJ,0.0,0.0,0.0,0.0,0.0
IMP_YOJ,12.0,10.0,0.0,12.0,14.0
M_INCOME,0.0,0.0,1.0,0.0,0.0
IMP_INCOME,85076.0,55076.0,360.0,68564.0,30504.0
M_HOME_VAL,0.0,0.0,0.0,0.0,0.0
IMP_HOME_VAL,249276.0,245993.0,0.0,274122.0,0.0
M_CAR_AGE,0.0,0.0,0.0,0.0,1.0
IMP_CAR_AGE,8.0,1.0,10.0,11.0,8.0

In [13]:
df.to_csv('insurance_module1.csv')